name: CI
on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build:
    name: Build app
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ '3.5', '3.6', '3.7', '3.8', '3.9', '3.10' ]

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
          all_but_latest: true

      - name: Clone repo
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x86

      - name: Install required libraries
        run: |
          pip install -U wheel pyinstaller setuptools tox
          pip install -r requirements.txt

      - name: Tox tests
        run: |
          python setup_tox.py
          tox

      - name: Get python version
        run: |
          $PythonVersion = (python --version)
          echo "python_version=${PythonVersion}" | Out-File -FilePath $env:GITHUB_ENV -Append

      # Build mangadex-downloader with PyInstaller
      # only allow python 3.10

      - name: Compile script
        if: ${{ contains(env.python_version, '3.10') }}
        run: python compile.py

      - name: Cleanup build
        if: startsWith(github.ref, 'refs/tags/') && contains(env.python_version, '3.10') && github.repository == 'mansuf/mangadex-downloader'
        run: |
          copy "LICENSE" "dist\mangadex-dl"
          copy "README.md" "dist\mangadex-dl"
          echo "${{ github.ref_name }}" | Out-File -FilePath "dist\mangadex-dl\version.txt" -NoNewLine
          echo "mangadex-dl.exe --update" | Out-File -FilePath "dist\mangadex-dl\update.bat"
          echo "start cmd" | Out-File -FilePath "dist\mangadex-dl\start cmd.bat"
          Compress-Archive -Path "dist\mangadex-dl" -DestinationPath "mangadex-dl_${{ github.ref_name }}.zip"

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/') && contains(env.python_version, '3.10') && github.repository == 'mansuf/mangadex-downloader'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.GIRHUB_REF_NAME }}
          name: mangadex-downloader ${{ github.ref_name }}
          files: |
            mangadex-dl_${{ github.ref_name }}.zip
          draft: true
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}